/*Box sizing*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Font strategy*/

html,
body {
  font: 100% 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 4rem;
  font-weight: normal;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  font-size: 2.6rem;
  font-weight: 300;
}

.main-menu > ul > li {
  font-size: 1rem;
  font-weight: bold;
}

.caps {
  text-transform: uppercase;
}

/*Global a attributes*/

a {
  text-decoration: none;
}

a:link,
a:visited {
  font-weight: 300;
}

a:focus,
a:hover,
a:active {
  color: #BA3D3D;
  outline: none;
}

.header {
  display: flex;
  height: 100px;
  /*outline: 1px solid red;*/
  position: relative;
  align-items: flex-end;
  background-color: darkgrey;
  justify-content: center;
}

.site-logo {
  transform: scale(.7);
  position: absolute;
  left: 0;
  bottom: -7%;
}

.contact {
  height: 20px;
  position: absolute;
  top: 0;
  right: 50px;
}

.location-in-site-links {
  background-color: lightgrey;
  height: 30px;
  position: relative;
  padding-left: 2%;
  padding-top: 5px;
  width: 100%;
}

.house-icon {
  transform: scale(.7);
  position: absolute;
  top: 1px;
  left: 2px;
}

.main-pic-container {
  position: relative;
  height: 480px;
  background-image: url(../assets/trabajo-img.png);
  background-repeat: no-repeat;
}

.main-pic-container h1 {
  color: white;
  margin: 0;
  margin-left: 50px;
  position: absolute;
  left: 100px;
  top: 200px;
}

.chat-window {
  outline: 1px solid #BA3D3D;
  height: 40vw;
  width: 15%;
  background-color: rgba(250, 250, 250, .7);
  position: absolute;
  top: 10px;
  right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.options-wrapper {
  display: flex;
  align-items: center;
}

.chat-window-person {
  display: block;
  width: 90%;
  transform: scale(.8);
  padding-left: 10%;
}

.person-name {
  margin: 0 auto;
  color: #BA3D3D;;
  font-weight: 700;
  font-size: .9rem;
}

.chat-window-options {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.chat-window-options li {
  border-top: 1px solid lightgrey;
  vertical-align: middle;
  position: relative;
}

.chat-window-options li a {
  padding-left: 2%;
  padding-bottom: 8%;
  padding-top: 7%;
  height: 100%;
  width: 100%;
  display: inline-block;
  /*outline: 1px solid red;*/
}

.chat-window-options li a:hover {
  background-color: black;
  color: white;
}

.chat-window-options li a img {
  display: inline-block;
  transform: scale(.6);
  float: left;
  padding-right: 5%;
}

.map-option-wrapper {
  width: 50%;
  display: inline-block;
}

.options-maps-btn {
  display: flex;
  background: none;
  border: 1px solid #BA3D3D;;
  color: #BA3D3D;;
  position: absolute;
  bottom: -45%;
  right: 17%;
  cursor: pointer;
}

.explanation {
  height: 600px;
  /*outline: 1px solid black;*/
  border-bottom: 1px solid #BA3D3D;;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.explanation h2 {
  margin: 0;
  color: #BA3D3D;
  /*border-bottom: 1px solid lightgrey;*/
}

.explanation-paragraph {
  width: 30%;
  margin-bottom: 3%;
  color: cornflowerblue;
  text-align: center;
}

.modified-underline {
  color: lightgrey;
}

.boxes-wrapper {
  display: flex;
  justify-content: space-between;
  width: 57%;
  height: 50%;
  /*outline: 1px solid red;*/
}

.left-box-container {
  width: 50%;
  height: 100%;
  background: url(../assets/trabajo-independiente-box-img.png) no-repeat;
  position: relative;
  display: flex;
}

.right-box-container {
  width: 50%;
  height: 100%;
  background: url(../assets/plan-profesionales-box-img.png) no-repeat;
  position: relative;
  display: flex;
}

.details-link {
  /*outline: 1px solid #BA3D3D;*/
  height: 45%;
  width: 96%;
  background-color: rgba(250, 250, 250, .7);
  align-self: flex-end;
}

.boxes-wrapper h3 {
  font-size: 1rem;
  font-weight: 700;
  padding: 2% 0 0 3%;
  margin: 0 0 2%;
}

.boxes-wrapper p {
  font-size: .7rem;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 0 5%;
}

a.plan-section-links {
  outline: 1px solid #BA3D3D;
  padding: 1% 10% 2% 2%;
  margin-left: 5%;
  position: relative;
  color: #BA3D3D
}

.plan-section-links span {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 1.3rem;
  color: #BA3D3D;
}

.main-footer-container {
  /*outline: 1px solid black;*/
  height: 300px;
  display: flex;
  justify-content: center;
}

.left-wrapper-contact {
  /*outline: 1px solid black;*/
  width: 50%;
  padding: 3% 10% 3% 10%;
  height: 70%;
  position: relative;
}

.main-footer-left-box-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  position: absolute;
  top: 20px;
  left: 150px;
  height: 100%;
}

.main-footer-left-box-img {
  display: inline-block;
  transform: scale(.8);
}

.footer-way-of-contact-left-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.footer-way-of-contact {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.footer-way-of-contact li {
  border-bottom: 1px solid lightgrey;
  vertical-align: middle;
  position: relative;
  height: 40%;
  width: 200px;
}

.footer-way-of-contact li a {
  padding-left: 2%;
  padding-bottom: 3%;
  padding-top: 1%;
  height: 100%;
  width: 100%;
  display: inline-block;
  /*outline: 1px solid red;*/
}

.footer-way-of-contact li a:hover {
  background-color: black;
  color: white;
}

.footer-way-of-contact li a img {
  display: inline-block;
  transform: scale(.6);
  float: left;
  padding-right: 5%;
}

.right-wrapper-location {
  /*outline: 1px solid black;*/
  width: 50%;
  height: 70%;
}

.map-wrapper-footer {
  padding-bottom: 2%;
  display: flex;
}

.map-wrapper-footer span {
  padding-top: 1%;
}

.map {
  width: 80%;
  height: 80%;
}

.map-wrapper-footer img {
  transform: scale(.6);
}

/*HELPERS*/

.caps {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}