/*Box sizing*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Font strategy*/

html,
body {
  font: 100% 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 4rem;
  font-weight: normal;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  font-size: 2.6rem;
  font-weight: 300;
}

.main-menu > ul > li {
  font-size: 1rem;
  font-weight: bold;
}

.caps {
  text-transform: uppercase;
}

/*Global a attributes*/

a {
  text-decoration: none;
  cursor: pointer;
}

a:link,
a:visited {
  font-weight: 300;
}

a:focus,
a:hover,
a:active {
  color: #BA3D3D;
  outline: none;
}

.header {
  display: flex;
  height: 100px;
  /*outline: 1px solid red;*/
  position: relative;
  align-items: flex-end;
  background-color: whitesmoke;
  justify-content: center;
}

.site-logo {
  transform: scale(.7);
  position: absolute;
  left: 0;
  bottom: -7%;
}

.line1 {
  width: 150px;
  height: 200px;
  border-bottom: 1px solid lightgrey;
  transform: translateY(5px) rotate(-50deg);
  position: absolute;
  bottom: 20px;
  left: 10px;
  box-shadow: 10px 5px 15px #888888;
}

.site-nav {
  width: 100%;
  height: 45%;
}

.site-nav-links-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.site-nav-links-list li {
  padding-left: 5px;
  height: 40px;
}

.site-nav-links-list li:first-child a {
  padding-left: 5px;
  border-bottom: 5px solid #BA3D3D;
}

.site-nav a {
  color: darkslateblue;
  border-bottom: 5px solid darkblue;
  padding: 2% 2% 2% 2%;
}

.site-nav a:hover {
  color: white;
  border-bottom: 5px solid darkblue;
  background-color: #BA3D3D;
  padding-bottom: 100%;
  border-bottom: darkgrey;
}

.contact {
  height: 20px;
  position: absolute;
  top: 0;
  right: 50px;
  margin: 0;
}

.contact li {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid lightgrey;
}

.contact-links-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

.contact-links-list li a {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  color: black;
  font-weight: 700;
  font-size: .8rem;
  vertical-align: middle;
}

.first-letter {
  font-size: .5rem;
}

.second-letter {
  font-size: .7rem;
}

.third-letter {
  font-size: 1rem;
}

.location-in-site-links {
  background-color: lightgrey;
  height: 30px;
  position: relative;
  padding-left: 2%;
  padding-top: 5px;
  width: 100%;
}

.location-in-site-links li a {
  background-color: lightgrey;
  height: 30px;
  position: relative;
  padding-left: 5px;
  padding-top: 5px;
  width: 100%;
  color: black;
  font-weight: 700;
}

a.location-on-site-link {
  color: #BA3D3D;
}

.house-icon {
  transform: scale(.7);
  position: absolute;
  top: 1px;
  left: -20px;
}

.main-pic-container {
  position: relative;
  height: 480px;
  background: url(../assets/trabajo-img.png) no-repeat;
}

.main-pic-container h1 {
  color: white;
  margin: 0 0 0 50px;
  position: absolute;
  left: 100px;
  top: 200px;
}

.chat-window {
  outline: 1px solid #BA3D3D;
  height: 40vw;
  width: 15%;
  background-color: rgba(250, 250, 250, .7);
  position: absolute;
  top: 10px;
  right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.options-wrapper {
  display: flex;
  align-items: center;
}

.chat-window-person {
  display: block;
  width: 90%;
  transform: scale(.8);
  padding-left: 10%;
}

.person-name {
  margin: 0 auto;
  color: #BA3D3D;;
  font-weight: 700;
  font-size: .9rem;
}

.chat-window-options {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.chat-window-options li {
  border-top: 1px solid lightgrey;
  vertical-align: middle;
  position: relative;
}

.chat-box {
  width: 160px;
  height: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;
  display: none;
}

.countdown {
  font-size: 1.3rem;
}

.chat-window-options li a {
  padding-left: 2%;
  padding-bottom: 8%;
  padding-top: 7%;
  height: 100%;
  width: 100%;
  display: inline-block;
  /*outline: 1px solid red;*/
}

.chat-window-options li a:hover {
  background-color: black;
  color: white;
}

.chat-window-options li a img {
  display: inline-block;
  transform: scale(.6);
  float: left;
  padding-right: 5%;
}

.map-option-wrapper {
  width: 50%;
  display: inline-block;
}

.options-maps-btn {
  display: flex;
  background: none;
  border: 1px solid #BA3D3D;;
  color: #BA3D3D;;
  position: absolute;
  bottom: -45%;
  right: 17%;
  cursor: pointer;
}

.explanation {
  height: 600px;
  /*outline: 1px solid black;*/
  border-bottom: 1px solid #BA3D3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.explanation h2 {
  margin: 0;
  color: #BA3D3D;
  /*border-bottom: 1px solid lightgrey;*/
}

.explanation-paragraph {
  width: 30%;
  margin-bottom: 3%;
  color: cornflowerblue;
  text-align: center;
}

.modified-underline {
  color: lightgrey;
}

.boxes-wrapper {
  display: flex;
  justify-content: space-between;
  width: 57%;
  height: 50%;
  /*outline: 1px solid red;*/
}

.left-box-container {
  width: 50%;
  height: 100%;
  background: url(../assets/trabajo-independiente-box-img.png) no-repeat;
  position: relative;
  display: flex;
}

.right-box-container {
  width: 50%;
  height: 100%;
  background: url(../assets/plan-profesionales-box-img.png) no-repeat;
  position: relative;
  display: flex;
}

.details-link {
  /*outline: 1px solid #BA3D3D;*/
  height: 45%;
  width: 96%;
  background-color: rgba(250, 250, 250, .7);
  align-self: flex-end;
}

.boxes-wrapper h3 {
  font-size: 1rem;
  font-weight: 700;
  padding: 2% 0 0 3%;
  margin: 0 0 2%;
}

.boxes-wrapper p {
  font-size: .7rem;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 0 5%;
}

a.plan-section-links {
  outline: 1px solid #BA3D3D;
  padding: 1% 10% 2% 2%;
  margin-left: 5%;
  position: relative;
  color: #BA3D3D
}

.plan-section-links span {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 1.3rem;
  color: #BA3D3D;
}

.main-footer-container {
  border-bottom: 1px solid lightgrey;
  height: 280px;
  display: flex;
  justify-content: center;
}

.left-wrapper-contact {
  width: 50%;
  padding: 3% 10% 0 10%;
  height: 70%;
  position: relative;
}

.main-footer-left-box-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 150px;
  height: 100%;
}

.main-footer-left-box-img {
  display: inline-block;
  transform: scale(.8);
}

.footer-way-of-contact-left-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.footer-way-of-contact {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.footer-way-of-contact li {
  border-bottom: 1px solid lightgrey;
  vertical-align: middle;
  position: relative;
  height: 100%;
  width: 200px;
  padding-top: 2%;
}

.footer-way-of-contact li a span {
  width: 100%;
  display: block;
}

.footer-way-of-contact li a {
  padding-left: 2%;
  padding-top: 1%;
  height: 100%;
  width: 100%;
  display: inline-block;
  /*outline: 1px solid red;*/
}

.footer-way-of-contact li a img {
  display: inline-block;
  transform: scale(.8);
  float: left;
  padding-right: 5%;
}

.right-wrapper-location {
  /*outline: 1px solid black;*/
  width: 50%;
  height: 70%;
}

.map-wrapper-footer {
  padding-bottom: 2%;
  padding-top: 1%;
  display: flex;
}

.map-wrapper-footer span {
  padding-top: 1%;
}

.map {
  width: 600px;
  height: 200px;
}

.map-wrapper-footer img {
  transform: scale(.6);
}

.social-links {
  padding: 1% 0 1% 10%;
}

.social-links img {
  padding-left: 3%;
}

.footer {
  height: 300px;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: lightgrey;
}

.footer p {
  width: 50%;
}

.footer img {
  height: 50px;
  width: 50px;
}

.go-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  transform: scale(.7);
}

.top {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-right: 0.75em;
  cursor: pointer;
}

.top:after {
  content: '';
  display: inline-block;
  margin-top: 1.4em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  transform: rotate(-45deg);
}

/*------------------------*/

/*Media queries*/

@media screen and (min-width: 991px) {

  .house-icon {
    transform: scale(.7);
    position: absolute;
    top: 2px;
    left: 0;
  }

  [type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  header label {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    transition-property: transform;
    transition-duration: .4s;
    transition-delay: .2s;
  }

  header label:hover {
    color: #F14848;
    transform: rotateY(180deg);
  }

  nav {
    height: calc(100vh - 66px);
    display: none;
  }

  input[type=checkbox]:checked ~ .site-nav {
    display: block;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .list-wrapper {
    position: relative;
    display: block;
    outline: 1px solid red;
    z-index: 10;
    height: 200vh;
  }

  ul.site-nav-links-list {
    display: block;
    background-color: white;
    height: 100%;
    margin-top: 0;
    padding-top: 10%;
    font-size: 2rem;
  }

  ul.site-nav-links-list li {
    padding-bottom: 15%;
  }

  ul.site-nav-links-list a {
    border-bottom: none;
  }

  .site-nav-links-list a:focus,
  .site-nav-links-list a:hover,
  .site-nav-links-list a:active {
    background-color: white;
    color: black;
    outline: none;
  }

  .site-nav-links-list li:first-child a {
    padding-left: 5px;
    border-bottom: none;
  }

  .chat-window {
    height: 43vw;
    width: 15%;
    background-color: rgba(250, 250, 250, .7);
    position: absolute;
    top: 80px;
    right: 100px;
  }

  .chat-window-options {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .right-wrapper-location {
    transform: scale(1);
    padding-top: 1%;
    padding-left: 0;
    width: 40%;
    height: 70%;
  }

  .map {
    width: 450px;
    height: 200px;
  }

}

@media screen and (min-width: 1199px) {

  .house-icon {
    transform: scale(.7);
    position: absolute;
    top: 2px;
    left: 0;
  }

  .site-nav {
    width: 95%;
    height: 45%;
  }

  .site-nav-links-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 10%;
  }

  .chat-window {
    height: 43vw;
    width: 15%;
    background-color: rgba(250, 250, 250, .7);
    position: absolute;
    top: 80px;
    right: 100px;
  }

  .options-maps-btn {
    right: 10%;
  }

  .explanation-paragraph {
    width: 60%;
    margin-bottom: 3%;
    font-size: 1.5rem;
  }

  .boxes-wrapper {
    width: 65%;
  }

  .right-wrapper-location {
    transform: scale(1);
    padding-top: 1%;
    padding-left: 0;
    width: 40%;
    height: 70%;
  }

  .map {
    width: 500px;
    height: 200px;
  }

  .social-links {
    padding: 1% 0 1% 16%;
  }

  .social-links img {
    padding-left: 3%;
    transform: scale(1.4);
  }

  .footer p {
    width: 50%;
    font-size: 1.3rem;
    padding-bottom: 10px;
  }

  .footer img {
    height: 50px;
    width: 50px;
    transform: scale(1.4);
  }

  .footer span {
    padding-top: 2%;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1920px) {

  .house-icon {
    transform: scale(.9);
    position: absolute;
    top: 2px;
    left: 10px;
  }

  .main-pic-container {
    position: relative;
    height: 800px;
    background: url(../assets/trabajo-img.png) no-repeat;
    background-size: 100% 100%;
  }

  .main-pic-container h1 {
    font-size: 4rem;
  }

  .chat-window {
    height: 42vw;
    width: 15%;
    background-color: rgba(250, 250, 250, .7);
    position: absolute;
    top: 80px;
    right: 100px;
  }

  .chat-window-person {
    display: block;
    width: 100%;
    padding-left: 0;
  }

  .person-name {
    font-size: 1rem;
  }

  .options-maps-btn {
    display: flex;
    background: none;
    border: 1px solid #BA3D3D;;
    color: #BA3D3D;;
    position: absolute;
    bottom: -40%;
    right: 25%;
    cursor: pointer;
  }

  .explanation {
    height: 600px;
    border-bottom: 1px solid #BA3D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
  }

  .explanation-paragraph {
    width: 50%;
    margin-bottom: 3%;
    font-size: 1.5rem;
  }

  .boxes-wrapper {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 50%;
    /*outline: 1px solid red;*/
  }

  .main-footer-container {
    border-bottom: 1px solid lightgrey;
    height: 380px;
    display: flex;
    justify-content: center;
  }

  .left-wrapper-contact {
    width: 40%;
    height: 80%;
    position: relative;
    transform: scale(1.3);
  }

  .main-footer-left-box-wrapper {
    position: absolute;
    top: 60px;
    left: 200px;
  }

  .footer-way-of-contact li {
    border-bottom: 1px solid lightgrey;
    vertical-align: middle;
    position: relative;
    height: 100%;
    width: 200px;
    padding-top: 2%;
  }

  .right-wrapper-location {
    transform: scale(1.3);
    padding-top: 2%;
    padding-left: 3%;
    width: 40%;
    height: 70%;
  }

  .social-links {
    padding: 1% 0 1% 6%;
  }

  .social-links img {
    padding-left: 3%;
    transform: scale(1.7);
  }

  .footer {
    height: 400px;
  }

  .footer p {
    width: 50%;
    font-size: 1.7rem;
  }

  .footer img {
    height: 50px;
    width: 50px;
    transform: scale(1.4);
  }

  .footer span {
    padding-top: 2%;
    font-size: 1.7rem;
  }

  .go-to-top {
    outline: 10px solid black;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transform: scale(1);
  }

  .top {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin-right: 0.75em;
    cursor: pointer;
  }

  .top:after {
    content: '';
    display: inline-block;
    margin-top: 1.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    transform: rotate(-45deg);
  }

}

/*HELPERS*/

.caps {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}